<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container"   >             
            <h2><span th:text="${session.game.courseName}"/>&nbsp;<span th:text="${session.game.createdDate}"/></h2>
            <p><a class="btn btn-primary btn-lg"  th:href="@{/gameplayer/add(id=${session.game.gameId})}">Play</a></p>
            <table id="theData" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">Name</th>
                        <th style="width: 150px;">Score</th>
                        <th style="width: 150px;">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="gameplayer : ${gamePlayers}">
                        <td th:text="${gameplayer.user.lastFirst}"></td>
                        <td th:text="${gameplayer.score}"></td>
                        <td th:text="${gameplayer.points}"></td>
                        <td><a class="btn btn-primary btn-lg"  th:href="@{/gameplayer/add(id=${gameplayer.gameId},userId=${gameplayer.userId})}">Edit</a>&nbsp;
                            <a class="btn btn-primary btn-lg"  th:href="@{/gameplayer/delete(id=${gameplayer.gameId},userId=${gameplayer.userId})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>    
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
