<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${camper}" action="addSubmit (Not used)" th:action="@{/camper/addSubmit}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Add Camper
                    </div>
                    <div>
                        <input type="hidden" th:field="${camper.id}" />
                        <label>First name</label>
                        <input type="text" name="firstName" th:field="${camper.firstName}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('firstName')}">
                            <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Last name</label>
                        <input type="text" name="lastName" th:field="${camper.lastName}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('lastName')}">
                            <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>DOB</label>
                        <input type="text" name="dob" th:field="${camper.dob}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('dob')}">
                            <li class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>

                        <input type="submit" value="Submit"/>

                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>