<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <form id="scoreForm" th:object="${group}" action="addGroupScoreSubmit.html" th:action="@{/group/addGroupScoreSubmit}" method="get" class="form-horizontal">
                <input id="loadedIndicator" type="hidden" th:field="${group.loaded}"/>
                <table>
                    <tbody>
                        <tr>
                            <td><h3>Front</h3></td>
                            <td align="center" th:each="detail,statLabel : ${group.playerScoresFront[0]}"><span  th:text="${session.scorecard.gameHoleNumberArrayList[__${statLabel.index}__]}"/>P<span th:text="${session.scorecard.gameHoleParArrayList[__${statLabel.index}__]}"/></td>
                            <td>&nbsp;&nbsp;In&nbsp;&nbsp;</td>

                        </tr>            
                        <tr   th:each="playerId,stat : ${group.playerIds}" >
                            <th><span th:text="${group.users[__${stat.index}__].firstName}"/><input type="hidden" th:field="${group.users[__${stat.index}__].userId}"/><input type="hidden" th:field="${group.users[__${stat.index}__].firstName}"/></th>
                            <td th:each="playerIdHoleNumber,stat2 : ${group.playerScoresFront[__${stat.index}__]}">
                                <select style="width:4em;" th:field="${group.playerScoresFront[__${stat.index}__][__${stat2.index}__]}">
                                    <option th:each="score : ${session.scores}" th:value="${score}" th:text="${score}">score here</option>
                                </select>
                            </td>
                            <td>&nbsp;&nbsp;<span th:text="${group.playerScoreFront[__${stat.index}__]}"/></td>
                        </tr>     
                        <tr>
                            <td><h3>Back</h3></td>
                            <td align="center" th:each="detail,statLabel : ${group.playerScoresFront[0]}"><span  th:text="${session.scorecard.gameHoleNumberArrayList[__${statLabel.index}+9__]}"/>P<span th:text="${session.scorecard.gameHoleParArrayList[__${statLabel.index}+9__]}"/></td>
                            <td>&nbsp;&nbsp;Out&nbsp;&nbsp;</td>
                            <td>Gross</td>
                            <td>&nbsp;Chicago</td>
                        </tr>
                        <tr   th:each="playerId,stat : ${group.playerIds}" >
                            <th><span th:text="${group.users[__${stat.index}__].firstName}"/></th>
                            <td th:each="playerIdHoleNumber,stat2 : ${group.playerScoresBack[__${stat.index}__]}">
                                <select style="width:4em;" th:field="${group.playerScoresBack[__${stat.index}__][__${stat2.index}__]}">
                                    <option th:each="score : ${session.scores}" th:value="${score}" th:text="${score}">score here</option>
                                </select>
                            </td>
                            <td>&nbsp;&nbsp;<span th:text="${group.playerScoreBack[__${stat.index}__]}"/></td>
                            <td><span th:text="${group.playerScoreFront[__${stat.index}__]}+${group.playerScoreBack[__${stat.index}__]}"/></td>
                            <td>&nbsp;<span th:text="${group.chicagoPoints[__${stat.index}__]}"/></td>
                        </tr>            
                    </tbody>
                </table> 
                
                <div>&nbsp;</div>

                <fieldset>
                    <div class="cislabel" >
                        <input type="hidden" name="gameId" th:value="${group.gameId}"/>
                        <button class=" cis-big-button btn btn-primary btn-lg" type="submit" name="action" value="save">Save</button>
                    </div>
                </fieldset>



                <!--______________________________________________________________
                
                Show the LBLT details as well 

                __________________________________________________________________-->




                <div>
                    <h1>Low Ball Low Total</h1>
                </div>

                <table>
                    <tbody>
                        <tr>
                            <td><h3>Front</h3></td>
                            <td></td>
                            <td align="center" th:each="detail,statLabel : ${group.playerScoresFront[0]}"><span  th:text="${session.scorecard.gameHoleNumberArrayList[__${statLabel.index}__]}"/></td>
                            <td><h3>Back</h3></td>

                            <td align="center" th:each="detail,statLabel : ${group.playerScoresFront[0]}"><span  th:text="${session.scorecard.gameHoleNumberArrayList[__${statLabel.index}+9__]}"/></td>
                            <td>&nbsp;&nbsp;LBLT&nbsp;&nbsp;</td>
                        </tr>            
                        <tr   th:each="playerId,stat : ${group.playerIds}" >
                            <th><span th:text="${group.users[__${stat.index}__].firstName}"/></th>
                            <td><span th:text="${group.lowTotal[__${stat.index}%2__]}"/></td>
                            <td align="center" th:each="playerIdHoleNumber,stat2 : ${group.playerScoresFront[__${stat.index}__]}">
                                <span th:text="${group.lblt[__${stat.index}__][__${stat2.index}__]}" />
                            </td>

                            <td ></td>
                            <td align="center" th:each="playerIdHoleNumber,stat2 : ${group.playerScoresFront[__${stat.index}__]}">
                                <span th:text="${group.lblt[__${stat.index}__][__${stat2.index}+9__]}" />
                            </td> 
                            <td>&nbsp;&nbsp;<span th:text="${group.lbltTotals[__${stat.index}__]}"/></td>
                        </tr>            
                    </tbody>
                </table> 

                <div class="ciskeydiv">
                    <h2><span class="ciskey" th:text="${group.users[0].firstName}"/><span class="ciskey">/</span><span class="ciskey" th:text="${group.users[1].firstName}"/><span> --> </span><span class="ciskeylarge" th:text="${group.totalScore[0]}"/></h2>
                    <h2><span class="ciskey" th:text="${group.users[2].firstName}"/><span class="ciskey">/</span><span class="ciskey" th:text="${group.users[3].firstName}"/><span> --> </span><span class="ciskeylarge" th:text="${group.totalScore[1]}"/></h2>
                    <h3>    <span class="ciskey">Carrying&nbsp;&nbsp;&nbsp;&nbsp;</span>Low=<span class="ciskey" th:text="${group.carryingLowTotal[0]}"/><span class="ciskey"></span>
                        <span>Total=</span><span class="ciskey" th:text="${group.carryingLowTotal[1]}"/><span class="ciskey"></span>
                    </h3>
                    <h3><span class="ciskey">Points are currently worth: </span><span class="ciskey" th:text=" ${group.currentPointValue}"/></h3>
                </div>


                <div class="cislabel">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="3"  class="cislabel">Team 1:&nbsp;<span th:text="${group.users[0].firstName}"/><span>/</span><span th:text="${group.users[1].firstName}"/>
                                </td>
                                <td colspan="3"  class="cislabel">
                                    <span>Team 2: </span><span th:text="${group.users[2].firstName}"/><span>/</span><span th:text="${group.users[3].firstName}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="cislabel">
                                    <label>Presses</label>
                                </td>
                                <td class="cislabel"><label>Greenies</label>
                                </td>
                                <td class="cislabel"><label>Birdies</label></td>

                                <td class="cislabel">
                                    <label>Presses</label>
                                </td>
                                <td class="cislabel"><label>Greenies</label>
                                </td>
                                <td class="cislabel"><label>Birdies</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="test" class="holeSelect" th:field="${group.pressHolesTeam1}" multiple="multiple" title="Press Holes Team 1">
                                        <option th:each="holeOption : ${session.holeNumbers}" th:value="${holeOption}" th:text="${holeOption}">hole here</option>
                                    </select>
                                </td>
                                <td><select class="holeSelect" th:field="${group.greenyHolesTeam1}" multiple="multiple" title="Greenies Team 1">
                                        <option th:each="holeOption : ${session.holeNumbers}" th:value="${holeOption}" th:text="${holeOption}">hole here</option>
                                    </select>
                                </td>
                                <td><select  class="holeSelect cis-select-no-entry"  th:field="${group.birdyHolesTeam1}" multiple="multiple" title="Birdies Team 1">
                                        <option th:each="holeOption : ${session.holeNumbers}" th:value="${holeOption}" th:text="${holeOption}">hole here</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="holeSelect" th:field="${group.pressHolesTeam2}" multiple="multiple" title="Press Holes Team 2">
                                        <option th:each="holeOption : ${session.holeNumbers}" th:value="${holeOption}" th:text="${holeOption}">hole here</option>
                                    </select>
                                </td>
                                <td><select class="holeSelect" th:field="${group.greenyHolesTeam2}" multiple="multiple" title="Greenies Team 2">
                                        <option th:each="holeOption : ${session.holeNumbers}" th:value="${holeOption}" th:text="${holeOption}">hole here</option>
                                    </select>
                                </td>
                                <td><select  class="holeSelect cis-select-no-entry"  th:field="${group.birdyHolesTeam2}" multiple="multiple" title="Birdies Team 2">
                                        <option th:each="holeOption : ${session.holeNumbers}" th:value="${holeOption}" th:text="${holeOption}">hole here</option>
                                    </select>
                                </td>
                            </tr>

                            <!--
                                                    <span>
                                                        <p><div><span>Team 2: </span><span th:text="${group.users[2].firstName}"/><span>/</span><span th:text="${group.users[3].firstName}"/></div>
                                                        <label>Presses</label>
                                                        <label>Greenies</label>
                                                        <label>Birdies</label>
                                                        </p>
                                                        <p>
                                                            <select class="holeSelect" th:field="${group.pressHolesTeam2}" multiple="multiple" title="Press Holes Team 2">
                                                                <option th:each="holeOption4 : ${session.holeNumbers}" th:value="${holeOption4}" th:text="${holeOption4}">hole here</option>
                                                            </select>
                                                            <select class="holeSelect" th:field="${group.greenyHolesTeam2}" multiple="multiple" title="Greenies Team 2">
                                                                <option th:each="holeOption5 : ${session.holeNumbers}" th:value="${holeOption5}" th:text="${holeOption5}">hole here</option>
                                                            </select>
                                                            <select class="cis-select-no-entry" th:field="${group.birdyHolesTeam2}" multiple="multiple" title="Birdies Team 2">
                                                                <option th:each="holeOption6 : ${session.holeNumbers}" th:value="${holeOption6}" th:text="${holeOption6}">hole here</option>
                                                            </select>
                            
                                                        </p>-->
                        </tbody>
                    </table>
                    <div>&nbsp;</div>

                </div>

                <div class="cislabel" >
                    <button class=" cis-big-button btn btn-primary btn-lg" type="submit" name="action" value="saveDetails">Save Details</button>
                </div>








            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>