<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <h2>Add Game</h2>
            <p th:text="${message}"></p>
            <form th:object="${game}" action="add.html" th:action="@{/game/addSubmit}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <td><input type="text" name="createdDate" th:value="${game.createdDate}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Golf Course</th>
                            <td>
                                <select name="courseType">
                                    <option th:each="theType : ${session.golfCourseTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">Courses here</option>
                                </select>

                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Add</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>