<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <h2>Games</h2>
            <a class="btn btn-primary btn-lg" th:href="@{/game/add}" th:text="Add" ></a>

            <table id="theData" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px;">Course</th>
                        <th style="width: 150px;">Created Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="game : ${session.games}">

                        <td th:text="${game.courseName }"></td>
                        <td th:text="${game.createdDate}"></td>
                        <td><a class="btn btn-primary btn-lg"  th:href="@{/gameplayer/list(id=${game.gameId})}">View</a>&nbsp;
                            <a class="btn btn-primary btn-lg"  th:href="@{/gameplayer/add(id=${game.gameId})}">Play</a>&nbsp;
                            <a class="btn btn-primary btn-lg"  th:href="@{/group/add(id=${game.gameId})}">Group</a>&nbsp;
                            <a th:if="${session.loggedIn.userTypeCode==1}" class="btn btn-primary btn-lg"  th:href="@{/game/delete(id=${game.gameId})}">Delete</a>
</td>
                    </tr>
                </tbody>
            </table>    
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
